.sidebar{
    height: 100%;
    background: #349afff8; //#1c8cfc;  
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:white;
    .brand{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        padding: 2rem 0.5rem;
        font-weight: 900;
        .brand-icon{
            font-size: 3rem;
            padding-top: .8rem;
        }
    }
    
    .links{
        a {
            font-size: 1.5rem;
            text-decoration: none;
            color:white;
            margin-left: 0.5rem;
            transition: 0.2s ease-in-out;
        }

       li{
            font-size: 1.5rem;    
            display: flex;
            align-items: center;
            padding-bottom: 2rem;
            list-style-type: none;
            padding-left: 1rem;
            transition: 0.2s ease-in-out;
            &:hover{
                color:black;
            }
            &:hover a{
                color:black;
            }
        }
    }
}
